<form method="post" action="{{ path('oeuvre_delete', {'id': oeuvre.id}) }}" onsubmit="return confirm('êtes-vous sur de vouloir supprimer cette oeuvre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oeuvre.id) }}">
    <button class="button is-small is-danger">Supprimer</button>
</form>
