{% extends 'base.html.twig' %}

{% block title %}Nouvelle Oeuvre{% endblock %}

{% block body %}
<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center py-6">
    <div class="column is-full is-flex is-justify-content-start">
        <a class="button is-small is-dark" href="{{ path('oeuvre_index') }}">Retour à la liste des oeuvres</a>
    </div>

    <h1 class="title">Ajouter une Oeuvre</h1>

    {{ include('oeuvre/_form.html.twig') }}

</div>
{% endblock %}
