<footer class="footer has-background-grey">
    <div class="content has-text-centered">
        <div class="is-flex-desktop is-flex-direction-column is-align-items-center">
            <div class="column is-two-thirds-desktop is-flex-desktop is-multiline is-justify-content-center is-size-4">
                {% for galerie in galeries %}
                    <a class="column is-one-quarter is-full-touch has-font-2 has-text-weight-bold has-text-info" href="{{ path('gallery_year', {'id_gallery': galerie.id}) }}">
                        {{ galerie.yearend }}
                        <br><span class="has-text-weight-bold has-text-centered has-text-info has-font-2">/</span><br>
                        {{ galerie.yearstart }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <hr class="has-background-grey-light" style="height: .08rem;">

        <span class="is-size-6 has-text-grey-light">
            © 2021 | www.jacques-toupet.fr | Tout droits réservés. <br>
            jacques@toupet.ynh.fr
        </span>
    </div>
</footer>