<nav class="navbar is-fixed-top has-background-light-transparent-25" role="navigation" aria-label="main navigation">
    <div class="column is-flex is-flex-direction-row is-justify-content-space-between">
        <div>
            <a class="navbar-item has-text-weight-bold" href="{{ path('home') }}">
                Mon site (Accueil/logo)
            </a>
        </div>
        <div class="is-flex is-justify-content-center is-align-items-center px-3">
            {{ include('includes/layeout/menu_burger.html.twig') }}
        </div>
    </div>
</nav>