<nav class="navbar is-fixed-top has-background-light-transparent-25" role="navigation" aria-label="main navigation">
    <div class="column is-flex is-flex-direction-row is-justify-content-space-between">
        <div>
            <a class="navbar-item" href="{{ path('home') }}">
                Accueil
            </a>
        </div>
        <div>
            <a class="navbar-item" href="{{ path('home') }}">
                Connexion
            </a>
        </div>
    </div>
</nav>