
{#<div style="width: 100vw; height: 100vh;background: #565656;z-index: 1">#}

{#</div>#}


    <a id="burger" onclick="burgerAnimation(this)">

        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
        <div class="bars-centrales">
            <span class="bar4"></span>
        </div>

    </a>