{% extends 'base.html.twig' %}

{% block title %}GroupeGaleries index{% endblock %}

{% block body %}
    <h1>GroupeGaleries index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe_galery in groupe_galeries %}
            <tr>
                <td>{{ groupe_galery.id }}</td>
                <td>
                    <a href="{{ path('groupe_galeries_show', {'id': groupe_galery.id}) }}">show</a>
                    <a href="{{ path('groupe_galeries_edit', {'id': groupe_galery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('groupe_galeries_new') }}">Create new</a>
{% endblock %}
