{% extends 'base.html.twig' %}

{% block title %}New GroupeGaleries{% endblock %}

{% block body %}
    <h1>Create new GroupeGaleries</h1>

    {{ include('groupe_galeries/_form.html.twig') }}

    <a href="{{ path('groupe_galeries_index') }}">back to list</a>
{% endblock %}
