<div class="column">
    <figure class="figure is-flex is-justify-content-center is-align-items-center">
        <img src="{{ asset('build/images/480x600.603e1bf2.png') }}" alt="Photo">
    </figure>
</div>
<div class="column margin-15rem-desktop">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur cupiditate
        ea error quisquam unde velit? Ad animi aut eveniet labore nam quod vel? Assumenda
        corporis cumque ipsum molestiae perspiciatis?</p>
    <p>Ea et ex id modi, mollitia unde voluptate. Cumque, delectus excepturi! Adipisci, aperiam
        consequatur cupiditate distinctio enim eum harum laborum laudantium officiis possimus
        praesentium provident, recusandae repellendus, soluta suscipit veritatis?</p>
    <p>Aperiam eos laudantium maxime nulla porro, quae? At culpa ducimus rem sapiente ullam.
        Accusamus adipisci architecto beatae cum nemo nihil quidem saepe sapiente totam
        voluptate! Commodi deleniti dolorum fugit harum!</p>
    <p>Accusamus aliquam asperiores assumenda commodi deleniti, dolorem error incidunt maiores
        modi nesciunt nisi nostrum obcaecati placeat quis recusandae repudiandae rerum similique
        sint sunt tempora totam ullam unde. Nam, quasi voluptatibus.</p>
</div>