<div class="column is-two-fifths-fullhd">
    <figure class="figure is-flex is-justify-content-center is-align-items-center">
        <img src="{{ asset('build/images/480x600.603e1bf2.png') | imagine_filter('portrait') }}" alt="Photo">
    </figure>
</div>
<div class="column margin-15rem-desktop">
    {{ text_menu_burger.text|raw }}
</div>