{#     FOR DESKTOP     #}
<a class="is-hidden-touch is-uppercase icon-text has-text-white has-text-weight-bold py-4 is-size-5 link-menu-burger is-flex-touch" onclick="removeClass('menu-2','out-of-screen'); changeMinusToPlus(this)">
    <span class="icon is-size-6 is-size-7-touch">
        <i class="fas fa-minus"></i>
    </span>
    <span class="is-size-7-touch has-font-2">
        Biographie
    </span>
</a>
<a class="is-hidden-touch is-uppercase icon-text has-text-white has-text-weight-bold py-4 is-size-5 link-menu-burger is-flex-touch" onclick="removeClass('menu-3','out-of-screen'); changeMinusToPlus(this)">
    <span class="icon is-size-6 is-size-7-touch">
        <i class="fas fa-plus"></i>
    </span>
    <span class="is-size-7-touch has-font-2">
        Peinture
    </span>
</a>
<a class="is-hidden-touch is-uppercase icon-text has-text-white has-text-weight-bold py-4 is-size-5 link-menu-burger is-flex-touch" onclick="removeClass('menu-1','out-of-screen'); changeMinusToPlus(this)">
    <span class="icon is-size-6 is-size-7-touch">
        <i class="fas fa-plus"></i>
    </span>
    <span class="is-size-7-touch has-font-2">
        Exposition
    </span>
</a>
{#                  #}

{#     FOR TOUCH     #}
<a href="{{ path('biographie') }}" class="is-hidden-desktop is-uppercase icon-text has-text-white has-text-weight-bold py-4 is-size-5 link-menu-burger is-flex-touch" onclick="removeClass('menu-2','out-of-screen'); changeMinusToPlus(this)">
    <span class="icon is-size-6 ">
        <i class="fas fa-minus"></i>
    </span>
    <span class=" has-font-2">
        Biographie
    </span>
</a>
<a href="{{ path('peintures') }}" class="is-hidden-desktop is-uppercase icon-text has-text-white has-text-weight-bold py-4 is-size-5 link-menu-burger is-flex-touch" onclick="removeClass('menu-3','out-of-screen'); changeMinusToPlus(this)">
    <span class="icon is-size-6 ">
        <i class="fas fa-plus"></i>
    </span>
    <span class=" has-font-2">
        Peinture
    </span>
</a>
<a href="{{ path('expositions') }}" class="is-hidden-desktop is-uppercase icon-text has-text-white has-text-weight-bold py-4 is-size-5 link-menu-burger is-flex-touch" onclick="removeClass('menu-1','out-of-screen'); changeMinusToPlus(this)">
    <span class="icon is-size-6 ">
        <i class="fas fa-plus"></i>
    </span>
    <span class=" has-font-2">
        Exposition
    </span>
</a>
{#                  #}