$size-1 : 7rem;
$size-2 : 5rem;
$info : #3298DC;
$info-light: rgb(203, 245, 255);

*{
  font-family: 'Poppins', serif;
}
.has-font-playfair, .has-font-playfair *{
  font-family: 'Playfair Display', serif !important;
}
.has-font-poppins, .has-font-poppins *{
  font-family: 'Poppins', sans-serif !important;
}

.has-font-josefin, .has-font-josefin *{
  font-family: 'Josefin Sans', sans-serif !important;
}



.has-background-light-transparent-75{
  background: rgba(255,255,255,.75) !important;
}

.has-background-light-transparent-50{
  background: rgba(255,255,255,.5) !important;
}

.has-background-light-transparent-25{
  background: rgba(255,255,255,.25) !important;
}

.has-background-dark-transparent-75{
  background: rgba(0,0,0,.75) !important;
}

.has-background-dark-transparent-50{
  background: rgba(0,0,0,.5) !important;
}

.has-background-dark-transparent-25{
  background: rgba(0,0,0,.25) !important;
}

.is-upscaled-hover:hover{
  transform: scale(1.05) !important;
}

.has-max-height-100vh{
  max-height: 100vh !important;
}
.has-max-height-90vh{
  max-height: 90vh !important;
}
.has-max-height-80vh{
  max-height: 80vh !important;
}
.has-max-height-70vh{
  max-height: 70vh !important;
}
.has-max-height-60vh{
  max-height: 60vh !important;
}
.has-max-height-50vh{
  max-height: 50vh !important;
}
.has-max-height-40vh{
  max-height: 40vh !important;
}
.has-max-height-30vh{
  max-height: 30vh !important;
}
.has-max-height-20vh{
  max-height: 20vh !important;
}


.has-max-width-100vw{
  max-width: 100vw !important;
}
.has-max-width-90vw{
  max-width: 90vw !important;
}
.has-max-width-80vw{
  max-width: 80vw !important;
}
.has-max-width-70vw{
  max-width: 70vw !important;
}
.has-max-width-60vw{
  max-width: 60vw !important;
}
.has-max-width-50vw{
  max-width: 50vw !important;
}
.has-max-width-40vw{
  max-width: 40vw !important;
}
.has-max-width-30vw{
  max-width: 30vw !important;
}
.has-max-width-20vw{
  max-width: 20vw !important;
}

.has-max-width-500px{
  max-width: 500px !important;
}



.has-transition-7-ms{
  transition: .7s;
}
.has-transition-5-ms{
  transition: .5s;
}
.has-transition-2-ms{
  transition: .2s;
}

.is-boxed-like{
  display: block;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
  border-radius: 6px !important;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02) !important;
}

.has-no-text-decoration{
  text-decoration: none !important;
}

.is-absolute{
  position: absolute !important;
}
.is-fixed{
  position: fixed !important;
}
.is-sticky{
  position: sticky !important;
}

.is-absolute-fullscreen{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1
}
.opacity-0{
  opacity: 0;
}
.opacity-1{
  opacity: 1;
}
.is-right-0{
  right: 0;
}
.is-left-0{
  left: 0;
}
.is-top-0{
  top: 0;
}
.is-bottom-0{
  bottom: 0;
}
.is-right-075rem{
  right: .75rem;
}
.is-left-075rem{
  left: .75rem;
}
.is-top-075rem{
  top: .75rem;
}
.is-bottom-075rem{
  bottom: .75rem;
}
.is-right-100{
  right: 100vw;
}
.is-left-100{
  left: 100vw;
}
.is-top-100{
  top: 100vh;
}
.is-bottom-100{
  bottom: 100vh;
}

.is-width-0vw{
  width: 0vw;
}
.is-width-100vw{
  width: 100vw;
}
.is-width-100{
  width: 100%;
}
.is-height-100{
  height: 100%;
}
.z-index-less-1{
  z-index: -1;
}
.z-index-more-1{
  z-index: 1;
}

.has-border-thin{
  border: solid 1px rgba(0,0,0,.1);
}
.has-border-radius-3px{
  border-radius: 3px !important;
}
.has-border-white-5px{
  border: 5px solid white;
}
.is-hoverable-zoom-in:hover{
  cursor: zoom-in !important;
}
.is-hoverable-help-cursor:hover{
  cursor: help !important;
}


.has-scrollbar-hidden{
  overflow: hidden !important;
}





// MENU BURGER

#burger
{
  display: block;
  position: relative;
  z-index: 5;

  -webkit-user-select: none;
  user-select: none;
}

#burger:hover span{
  background-color: $info;
}

.bars-centrales{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center
}

.change .bar1 {
  opacity: 0;
}

.change .bar2 {
  transform: rotate(-40deg);
  background-color: $info;
}

.change .bar3 {
  opacity: 0;
}

.change .bar4{
  transform: rotate(40deg);
  background-color: $info;
}

#burger span
{
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 2px;
  z-index: 1;
  transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}



@import "~bulma";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

