$size-1 : 7rem;
$size-2 : 5rem;

.has-background-light-transparent-75{
  background: rgba(255,255,255,.75) !important;
}

.has-background-light-transparent-50{
  background: rgba(255,255,255,.5) !important;
}

.has-background-light-transparent-25{
  background: rgba(255,255,255,.25) !important;
}

.has-background-dark-transparent-75{
  background: rgba(0,0,0,.75) !important;
}

.has-background-dark-transparent-50{
  background: rgba(0,0,0,.5) !important;
}

.has-background-dark-transparent-25{
  background: rgba(0,0,0,.25) !important;
}

.is-upscaled-hover:hover{
  transform: scale(1.05) !important;
}

.has-max-height-100vh{
  max-height: 100vh !important;
}
.has-max-height-90vh{
  max-height: 90vh !important;
}
.has-max-height-80vh{
  max-height: 80vh !important;
}
.has-max-height-70vh{
  max-height: 70vh !important;
}
.has-max-height-60vh{
  max-height: 60vh !important;
}
.has-max-height-50vh{
  max-height: 50vh !important;
}
.has-max-height-40vh{
  max-height: 40vh !important;
}
.has-max-height-30vh{
  max-height: 30vh !important;
}
.has-max-height-20vh{
  max-height: 20vh !important;
}



.has-transition-7-ms{
  transition: .7s;
}
.has-transition-5-ms{
  transition: .5s;
}
.has-transition-2-ms{
  transition: .2s;
}

.is-boxed-like{
  display: block;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
  border-radius: 6px !important;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02) !important;
}

.has-no-text-decoration{
  text-decoration: none !important;
}

@import "~bulma";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
