<!doctype html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mon site | {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <header>
        {% block header %}
            {{ include('includes/layeout/header.html.twig') }}
        {% endblock %}
    </header>

    <body class="has-navbar-fixed-top">
        {% block body %}{% endblock %}
    </body>

{% block script %}

    <script>
        function burgerAnimation(object) {
            object.classList.toggle("change");
        }

        function slideFromRight(id) {
            let object = document.getElementById(id);
            object.classList.toggle("is-left-0");
            object.classList.toggle("is-left-100");
            object.classList.toggle("opacity-0");
            object.classList.toggle("opacity-1");
            let html = document.querySelector("html");
            html.classList.toggle("has-scrollbar-hidden");
        }

        function setOpacity1OnHover(targetsClassName, container) {
            // console.log('OK');
            // let targets = container.querySelectorAll(targetsClassName);
            // console.log(targets);
            container.querySelectorAll(targetsClassName).forEach(function (elem) {
                elem.classList.toggle("opacity-0");
                elem.classList.toggle("opacity-1");
            });
        }

    </script>

{% endblock %}

</html>


