{% extends 'base.html.twig' %}

{% block meta_description %}Biographie de l'artiste Jacques Toupet{% endblock %}

{% block title %}Biographie{% endblock %}

{% block body %}
<div class="container">

    <div class="container is-flex-desktop is-justify-content-center pt-6">

        {{ include('includes/bio.html.twig') }}

    </div>

</div>
{% endblock %}
