{% extends 'base.html.twig' %}

{% block meta_description %}{{ expo.text|raw|default('Voir les différentes expositions de l\'artiste') }}{% endblock %}

{% block title %}Exposition{% endblock %}

{% block body %}
    <div class="container">

        <div class="container is-flex-desktop is-justify-content-center pt-6">

            <div class="has-text-info">
                {{ expo.text|raw }}
            </div>

        </div>

    </div>
{% endblock %}
